[bumpversion]
current_version = 1.1.2
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} → {new_version}

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = version="{new_version}"

[bumpversion:file:src/python/cron_query/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:CHANGELOG.md]
search = ## [Unreleased]
replace = ## [Unreleased]

## [{new_version}] - {now:%Y-%m-%d}

[bumpversion:file:man/man1/cron-query.1]
search = "cron-query {current_version}" "User Commands"
replace = "cron-query {new_version}" "User Commands"

[bumpversion:file:build.gradle]
search = version = '{current_version}'
replace = version = '{new_version}'
