[bumpversion]
current_version = 1.1.2
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} → {new_version}

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = version="{new_version}"

[bumpversion:file:src/python/cron_query/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:CHANGELOG.md]
search = ## [Unreleased]
replace = ## [Unreleased]

[bumpversion:file:man/man1/cron-query.1]
search = .TH CRON-QUERY 1 "October 2025" "cron-query {current_version}"
replace = .TH CRON-QUERY 1 "{now:%B %Y}" "cron-query {new_version}"
